body {
  margin: 0px;
  padding: 0px;
  font-family: arial, verdana, trebuchetms;
}

h1 {
  color: white;
  background: #383838;
  margin: 0px;
}

.vortex-regtest-header {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.vortex-regtest-header h1 {
  padding: 10px;
}

.error {
  color: white;
  background: #cc0000;
  padding: 3px;
  font-weight: bold;
}

.ok {
  color: white;
  background: #00cc00;
  padding: 3px;
  font-weight: bold;
}

#control-panel {
  padding: 10px;
  border-bottom: 1px solid #383838;
}

.global-container {
  width: 100%;
  height: 800px;
}