body {
  font-family: Verdana,Tahoma,Arial,Sans-Serif;
  font-weight: normal;
  font-size:   11pt;
  color: #4c5257;
  padding: 0px;
  margin: 0px;
  text-align: justify;
  background: #0a0b16;
}

.content {
  background: white;
}

h1 {
  border-bottom: 1px solid #cc0000;
  font-size: 16pt;
}

h2 {
  border-bottom: 1px solid #cc0000;
  font-size: 15pt;
}

a {
  color: #062149;
  font-weight: bold;
  font-size: 10pt;
}

.top-page {
  width: 100%;
  background: #062149;
  height: 140px;
  padding: 0px;
  margin: 0px;
}

.top-page h1 {
  border-bottom: 0px;
}

.top-page-content {
  width: 800px;
  position: relative; left: 50%; top: 0%; z-index: 1;
  margin-left: -400px;
}

.top-image {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 20px;
}

.top-info {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 65px;
  left: 22%;
  color: white;
}

.page-table {
  width: 1000px;
  position: relative; left: 50%; top: 0%; z-index: 1;
  margin: 0px;
  margin-left: -500px;
  padding: 0px;
  cell-collapse: 0px;
  border-collapse: 0px;  
  vertical-align: top;
  height: 100%;
}

.page-table td {
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  vertical-align: top;
}

.page-table tr {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.page-table h1 {
  margin: 0px;
}

.lateral-page {
  width: 400px;
  padding: 10px;
  margin: 0px;
}

.middle-page {
  vertical-align: top;
  padding: 10px;
  margin: 0px;
  width: 600px;
}

.middle-page p {
  padding-left: 30px;
  padding-right: 30px;
}

.single-page {
  vertical-align: top;
  padding: 10px;
  margin: 0px;
  width: 850px;
}

.single-page p {
  padding-left: 30px;
  padding-right: 30px;
}

ul.features {
 padding: 0px;
 margin: 0px;
 padding-left: 60px;
 padding-right: 60px;
} 

ul.features li {
  list-style: square;
  padding-bottom: 10px;
}

ol.enumeration {
  padding: 0px;
 margin: 0px;
 padding-left: 60px;
 padding-right: 60px;
}

ol.enumeration li { 
 padding-bottom: 15px;
}

.bottom-page {
  color: white;
  background: #0a0b16;
  width: 100%;
  padding:0px;
  margin: 0px;
}

.bottom-page a {
  color: white;
}


.footer {
  padding: 10px;
  width: 400px;
  position: relative; left: 50%; top: 0%; z-index: 1;
  margin-left: -200px;
}

ul.news {
  padding: 10px;
  margin: 0px;
  list-style: none;
}

ul.news li {
  border-bottom: 1px solid #c8c8c8;
}

.date {
  color: #000000;
  font-weight: bold;
  font-size: 12pt;
}

.buttons-menu {
  width: 960px;
  position: relative; left: 50%; top: 0%; z-index: 1;
  padding: 0px;
  margin: 0px;
  margin-left: -460px;
  padding-top: 10px;
  height: 30px;
}

div.button {
  align: center;
  height: 29px;
  float: left;
  padding: 0px;
  margin: 0px;
  margin-right: 5px;
}

.button a {
  font-size: bold;
  color: white;
  text-decoration: none;
}

div.button div {
  padding: 0px;
  margin: 0px;
  width: 75px;
  padding-top: 7px;
  padding-left: 28px;
}

div.lang {
  float: right;
  width: 37px;
}

div.lang div {
  width: 37px;
  padding-top: 4px;
  padding-left: 7px;
  
}

div.lang a {
  color: black;
  font-weight: bold;
  font-size: 14pt;
}

div.download {
  background: #ffffff url("download.png") no-repeat;
}

div.start {
  background: #ffffff url("start.png") no-repeat;
}

div.doc {
  background: #ffffff url("doc.png") no-repeat;
}

div.spanish {
  background: #ffffff url("spanish.png") no-repeat;
}

div.english {
  background: #ffffff url("english.png") no-repeat;
}

p.link {
  text-align: center;
}

.center {
  text-align: center;
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}

pre.code {
  border: 1px solid #cc0000;
  background: black; 
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px;
  font-size: 10pt;
}

pre.code .comment {
  color: #eec73e;
}